html, body {
    margin: 0;
    padding: 0;
    /*
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
    */
}

input {
    /*
    color: #432000;
    background-color: #DCE1EB
    */
}

button {
    /*
    color: #FDFDFD;
    background-color: #AC485A;
    */
}